body {
    background-color: lightblue;
    /* changes the background color to lightblue */
}
h1 {
    color: rgb(100, 200, 150);
    /* change title color to green
    position: -webkit-sticky;
    position: sticky;
    top: 10px; */
}
/*
#meetingtitle {
    position: -webkit-sticky;
    position; sticky;
    top: 10px;
}
*/
h2 {
    color: #fd9;
    /* change subtitle color to yellow */
}
h4 {
    color: rgb(1, 75, 48);
    max-width: 10ch;
}
ol {
    border: 4px dotted orangered;
    padding: .4em;
    /* border around ordered list */
}
ul {
    border: 3px solid rgb(212, 120, 102);
    padding: .3lh;
    /* border arounf unordered list */
}
p {
    font-size: 2.1rem;
    /* change font size */
}
img {
    border: 4px;
    height: 300px;
    position: -webkit-sticky;
    position: sticky;
    top: 15px;
}
video {
    position: relative;
    top: 10px;
    left: 20px;
    background: rgb(30, 175, 197);
    max-height: 425px;
}
p {
    width: 200px;
}
* {
    font-family: sans-serif;
}

