body {
    background-color: lightblue;
    /* changes the background color to lightblue */
}
h1 {
    color: rgb(100, 200, 150);
    /* change title color to green
    position: -webkit-sticky;
    position: sticky;
    top: 10px; */
}
/*
#meetingtitle {
    position: -webkit-sticky;
    position; sticky;
    top: 10px;
}
*/
h2 {
    color: #fd9;
    /* change subtitle color to yellow */
}
h4 {
    color: rgb(1, 75, 48);
    max-width: 10ch;
}
ol {
    border: 4px dotted orangered;
    padding: .4em .4em .4em .4em;
    /* border around ordered list */
    display: block;
    margin: auto;
}
ul {
    border: 3px solid rgb(212, 120, 102);
    padding-top: .3em;
    padding-bottom: .3em;
    padding-left: .3em;
    padding-right: .3em;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    /* border arounf unordered list */
    display: none;
}
p {
    font-size: 2.1rem;
    /* change font size */
}
img {
    border-width: 5px;
    border-style:solid;
    border-color: red;
    height: 300px;
    position: -webkit-sticky;
    position: sticky;
    top: 15px;
    display: flex;
    flex-direction: row;
    margin: 8px 8px 8px 8px;
}
video {
    position: relative;
    top: 10px;
    left: 20px;
    background: rgb(30, 175, 197);
    max-height: 425px;
}
#container {
    display: grid;
}
p {
    width: 200px;
}
@media (min-aspect-ratio: 9/5) {
    p {
        background: hsla(90, 75%, 45%, 1);
    }
}
@media (max-aspect-ratio: 4/3) {
    p {
        background: hsl(50, 60%, 50%);
    }
}
@media (aspect-ratio:1/1) {
    p {
        background: rgb(20, 50, 180);
    }
}
button:hover {
    color: lightgoldenrodyellow;
}
form:active {
    color: green;
}
* {
    font-family: sans-serif;
}

